/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: #000;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}
/*---------------------------------------------*/

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
	src: 
		url('/fonts/Roboto_Condensed-Bold.woff2') format('woff2'), 
		url('/fonts/Roboto_Condensed-Bold.woff') format('woff'), 
		url('/fonts/Roboto_Condensed-Bold.ttf') format('ttf'), 
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
	src: 
		url('/fonts/Roboto_Condensed-Medium.woff2') format('woff2'), 
		url('/fonts/Roboto_Condensed-Medium.woff') format('woff'), 
		url('/fonts/Roboto_Condensed-Medium.ttf') format('ttf'), 
}

body {
    background-color: #F2F3F7;
    font-family: 'Roboto';
    font-weight: 500;
}

.section__title {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.header__container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    padding: 14px 50px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    background-color: #54b8d2;
}

/* HEADER START */

.header {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEFF0;
}


.header__region {
    text-align: start; 
    background-color: #dbd1d1;

}


.header__region-wrap {
    display: flex; /* Включаем flexbox */
    align-items: center; /* Выравнивание по вертикали */
    padding: 5px 0;
}

.region__icon {

}

.region__icon img {
    max-width: 30px;
}

.regions__name {

}

.regions__name-text {
    font-weight: 700;
    font-size: 18px;
}



.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    max-width: 50px;

}


.text {
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
}


.header__info-wrap {
    display: flex;
    align-items: center;
}


.header__info {

}

.header__list {
    display: flex;
    gap: 100px;
}


.header__item {

}

.header__link {
    font-weight: 600;
    font-size: 18px;
}

.header__btn {
    padding: 14px 50px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    color: #000;    
}

.header__btn:hover{
    opacity: .9;
}
/* HEADER END */

/* MAIN START */

.main {

}

.welcome {
    margin-bottom: 25px;
}

.welcome__list {

}

.welcome__item {
    display: flex;
    gap: 20px;
}

.welcome__link {
    font-weight: 500;
    font-size: 18px;
}
/* MAIN END */

/* BANNER START */

.banner {
    padding-bottom: 100px;
}

.banner__wrap {
    /* padding-top: 81px; */
    border-radius: 24px;
    background-color: #5F9BDF;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.banner__desk {
    padding: 0 90px;
    color: #fff;
}

.banner__title {
    padding-top: 80px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 36px;
}

.banner__text {
    margin-bottom: 50px;
    font-weight: 800;
font-size: 18px;
}   

.banner__btn {
    margin-bottom: 120px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.banner__img {
    position: absolute;
    top: 20px;
    right: 0;   
    /* display: block;
    max-width: unset;
    position: absolute;*/
} 


.banner__thumb {
    max-width: 500px;
}
/* BANNER END */

/* SERVICE START */



.service {
    margin-bottom: 170px;
}

.service__wrap {

}

.service__title {
    position: relative;
    font-weight: 500;
    font-size: 34px;
    color: #000;
    margin-bottom: 45px;
}

.service__title::after{
    display: block;
    content: "" ;
    width: 200px;
    height: 3px;
    background:  #006dfe;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.service__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.service__card {

    border-radius: 20px;
    background-color: #fff;
    padding: 20px 0 0 30px;
}

.service__img {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}


.service__name {
    margin-bottom: 40px;
}

.service__desc {
    width: 330px;
    margin-bottom: 40px;
}

/* SERVICE END */

/* COMBO START */



.combo {
    margin-bottom: 80px;
}

.combo__wrap {

}

.combo__title {
    margin-bottom: 40px;
}

.combo__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.combo__card {

}

.combo__price {
    border-radius: 20px;
    background: #a2caef;
    padding: 20px 0 12px 20px;

}

.combo__price-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 22px;
}

.combo__price-desc {
    
}

.combo__info {
    border-radius: 20px;
    background: #f9f9f9;
    padding: 18px 0 12px 20px;

}

.combo__info-desc {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 16px;
}

.combo__wifi {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.wifi {

}

.combo__wifi-info {
    padding-top: 5px;
}

.combo__channel {
    display: flex;
    align-items: center;
    gap: 20px;

}

.channel {
 
}

.combo__info-price {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;

}

.combo__info-btn {
    display: inline-block;
    padding: 14px 50px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    color: #000;
    background: #f8e133;
    margin-bottom: 25px;
}

/* COMBO END */

/* TV START */

.tv {
    margin-bottom: 80px;    
}

.tv__wrap {

}

.tv__title {
    margin-bottom: 40px;
}

.section__title {

}

.tv__cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    justify-self: center;
}

.tv__card {
    height: auto;
    background: #ece3e3; 
    display: flex;
    flex-direction: column;
    grid-column: span 1;

}

.tv__card-img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.text__wrap{


}

.tv__card-title {
    padding: 14px 0;

   text-align: center;
     background: #d9d9d9;
}

.tv__card-decs {
padding:  10px;
   max-width: 469px;
   /* background-color: #006dfe; */
}

/* TV END */


/* FOOTER START */


.footer {
    background: #fff;

}

.footer__wrap {
    padding: 15px 0;
    display: flex;
    gap: 0 305px;
    justify-content: center;
}

.footer__left {

}

.footer__logo {
    display: flex;
    margin-bottom: 15px;
}

.logo__img {
    width: 80px;
    padding-right: 25px;
}

.logo__text {
    font-weight: 500;
    font-size: 24px;
}

.footer__navigator {
    display: flex;
    margin-bottom: 10px;
}

.navigator__img {
    width: 50px;
    padding-right: 15px;
}

.navigator__text {
    font-weight: 500;
    font-size: 24px;
}

.footer__desc {

}

.desc__title {
    font-weight: 500;
    font-size: 18px;
}

.desc__text {
    font-weight: 400;
    font-size: 18px;
}

.footer__right {

}

.right-title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

.right-phone {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.phone__img {
    width: 40px;
    padding-right: 7px;
}

.phone__link {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
}

.right-email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.email__img {
    width: 40px;
    padding-right: 15px;
}

.email__link {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
}

.btn__conn {
    padding: 14px 30px;
}

.btn__wrap {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.btn__addres {

}

/* FOOTER END */










